<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id = "app">
    <div id="header">
        <h1>My Travel Planer App</h1>
    </div>
    <div id="main">
        <div id="box">
            <form action="javascript:;" onsubmit="Client.handleSubmit(this)" class="form" id="travel-form">
                <div class="form__left">
                    <label for="to">To</label>
                    <input type="text" name="to" id="to" placeholder="City">
                    <label for="from">From</label>
                    <input type="text" name="from" id="from" placeholder="City">
                </div>
                <div class="form__right">
                    <label for="start-date">Departure</label>
                    <input type="date" name="depart" id="depart">
                    <label for="end-date">Return</label>
                    <input type="date" name="return" id="return">
                    <input type="submit" value="Submit" class="form__button">
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Tran Quoc Truong.</p>
    </footer>
</div>

</body>
</html>
