.results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    p {
        font-size: 16px;
    }
    
    &__image {
        max-width: 50%;
    }

    img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__text {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0.5rem;
    }

    &__header {
        font-weight: lighter;
        font-size: 25px;
    }

    &__weather-header {
        font-weight: lighter;
        font-size: 16px;
    }

    h3 {
        font-weight: lighter;
        font-size: 16px;
    }

    &__countdown {
        padding: 1rem 0;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0.5rem;

        &__image {
            max-width: 80%;
        }

        &__text {
            max-width: 80%;
        }
    }
}