* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: darkcyan;
  min-height: 100vh;
}

#app {
  color: black;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

#box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 5px 17px 6px rgba(59, 74, 107, .07);
  margin: 1rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 20px;
  margin: 5px 0;
}

input {
  height: 30px;
  background-color: #ffffff94;
  color: black;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  font-size: 36px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {  
  color: black;
  font-family: 'arial';
} 